<footer>
  <a href="#"
    ><img
      width="90"
      heigth="90"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Vk_Logo.svg/1024px-Vk_Logo.svg.png"
  /></a>
  <a href="#"
    ><img
      width="90"
      heigth="90"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/1200px-Instagram-Icon.png"
  /></a>
  <a href="#"
    ><img
      width="90"
      heigth="90"
      src="https://www.facebook.com/images/fb_icon_325x325.png"
  /></a>
</footer>

<script src="button.js" defer></script>
</body>
</html>